@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: Open Sans, sans-serif;
    --font-mono: Menlo, monospace;
    --font-serif: Georgia, serif;
    --radius: 1.3rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --radius: 1.3rem;
    --background: oklch(0.9739 0.0195 172.8033);
    --foreground: oklch(0.3291 0.0426 161.0603);
    --card: oklch(0.966 0.0181 188.3935);
    --card-foreground: oklch(0.2291 0.0217 164.2569);
    --popover: oklch(0.9669 0.0162 17.4379);
    --popover-foreground: oklch(0.2291 0.0217 164.2569);
    --primary: oklch(0.8391 0.2277 149.6323);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9363 0.0702 150.5381);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.9242 0.0011 197.1376);
    --muted-foreground: oklch(0.2291 0.0217 164.2569);
    --accent: oklch(0.9566 0.0233 165.8585);
    --accent-foreground: oklch(0.8391 0.2277 149.6323);
    --destructive: oklch(0.6667 0.2974 325.2251);
    --border: oklch(0.8929 0.0201 159.7075);
    --input: oklch(0.9823 0.0041 157.1794);
    --ring: oklch(0.8411 0.2322 148.9874);
    --chart-1: oklch(0.8391 0.2277 149.6323);
    --chart-2: oklch(0.6871 0.2188 139.4808);
    --chart-3: oklch(0.6363 0.2356 11.3134);
    --chart-4: oklch(0.7269 0.198 132.703);
    --chart-5: oklch(0.5629 0.26 311.7238);
    --sidebar: oklch(0.9678 0.0113 176.3159);
    --sidebar-foreground: oklch(0.2291 0.0217 164.2569);
    --sidebar-primary: oklch(0.8718 0.2547 147.6377);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8129 0.2054 143.1465);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.9159 0.0175 159.094);
    --sidebar-ring: oklch(0.8411 0.2322 148.9874);
    --destructive-foreground: oklch(1 0 0);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --shadow-color: #1df26e;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-xs: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-sm: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-md: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 2px 4px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-lg: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 4px 6px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-xl: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 8px 10px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-2xl: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
    --tracking-normal: 0em;
}

.dark {
    --background: oklch(0 0 0);
    --foreground: oklch(0.8759 0.0953 153.365);
    --card: oklch(0.2209 0.0077 182.201);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(0.9342 0.0042 157.1739);
    --primary: oklch(0.7893 0.2257 147.7958);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.6742 0.1631 140.461);
    --secondary-foreground: oklch(0.2291 0.0217 164.2569);
    --muted: oklch(0.1684 0 0);
    --muted-foreground: oklch(0.6925 0.0188 164.4106);
    --accent: oklch(0.2578 0.0549 154.3929);
    --accent-foreground: oklch(0.8361 0.2284 149.4474);
    --destructive: oklch(0.6231 0.2368 15.9376);
    --border: oklch(0.2721 0.0068 164.4713);
    --input: oklch(0.3303 0.0408 159.5436);
    --ring: oklch(0.8411 0.2322 148.9874);
    --chart-1: oklch(0.8391 0.2277 149.6323);
    --chart-2: oklch(0.6871 0.2188 139.4808);
    --chart-3: oklch(0.6363 0.2356 11.3134);
    --chart-4: oklch(0.7269 0.198 132.703);
    --chart-5: oklch(0.5629 0.26 311.7238);
    --sidebar: oklch(0.2209 0.0077 182.201);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.8411 0.2322 148.9874);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2578 0.0549 154.3929);
    --sidebar-accent-foreground: oklch(0.8361 0.2284 149.4474);
    --sidebar-border: oklch(0.3987 0.0331 159.4057);
    --sidebar-ring: oklch(0.8411 0.2322 148.9874);
    --destructive-foreground: oklch(1 0 0);
    --radius: 1.3rem;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --shadow-color: #1df26e;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-xs: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-sm: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-md: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 2px 4px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-lg: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 4px 6px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-xl: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0),
        0px 8px 10px -1px hsl(142.8169 89.1213% 53.1373% / 0);
    --shadow-2xl: 0px 2px 0px 0px hsl(142.8169 89.1213% 53.1373% / 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}

::-webkit-scrollbar {
    display: none;
}
